version: '3.8'
services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: iot_edu
      MYSQL_USER: IoT_EDU
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
  
  backend:
    build: .
 
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
